@keyframes slideInRight {
  from {
    transform: translate3d(110%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(110%, 0, 0);
  }
}

.enter {
  animation-name: slideInRight;
  animation-duration: 500ms;
}

.leave {
  animation-name: slideOutRight;
  animation-duration: 500ms;
}
